<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> قدم للتوظيف </title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header class="mb-5">
        <div class="w-full min-h-[10vh] py-5 px-10 md:px-24 bg-black text-yellow-500 text-lg md:text-xl flex flex-col 
            md:flex-row justify-between items-center">
            <!-- logo -->
            <div>
                <h1 class="font-gadm text-4xl tracking-[5px]">
                    <a href="/">    قدم   </a>
                </h1>
            </div>
            <!-- nav -->
            <div class="text-sm md:text-xl my-5">
                <nav>
                    <ul class="flex gap-x-5 md:gap-x-10 font-bold text-center">
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="https://lenses4k.blogspot.com/2024/03/blog-post.html">المدونة</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="/contact">تواصل معنا</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600 cursor-pointer">
                            <% if (username) { %>
                                <span> ! مرحبا <%= username %>  </span>
                                <li class="transition duration-300 hover:text-red-500 ">
                                    <a href="/logout"> تسجيل الخروج </a>
                                </li>
                            <% } else { %>
                                <a href="/login">سجل الان</a>
                            <% } %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>



    <main>
        <div class="text-center font-bold text-4xl text-black my-10">
            <span> اسئله شائعة </span>
        </div>
        <div class="px-10 flex flex-col gap-10 justify-center text-center">
            <div class="custom-style">
                <p class="text-balance text-center font-semibold text-md"> 
                    1. ما مهمة منصة قدّم؟<br>
                    -<br>
                    منصة قدم هي منصة متخصصة في التوظيف وتعمل بصفتها وسيط بين الشركات والمؤسسات والأفراد الباحثين عن فرص عمل مميزة في السوق السعودي <br><br>
                    
                    2. كيف استخدم المنصة؟<br>
                    من خلال تسجيل حساب جديد والبدء في اختيار الشركات التي ترغب في العمل معها وإرفاق السيرة الذاتية.<br><br>
                    
                    3. كيف سيصلني الرد سواء بالقبول أو بالرفض ؟<br>
                    المنصة لديها مهمة محددة وهي توفير قاعدة بيانات بالشركات وإرسال السيرة الذاتية وترسل للمستخدم تقرير مفصل بالعملية على البريد الإلكتروني، وقرار الشركة يُرسل مباشرة
                    منها إلى المستخدم.<br><br>
                    
                    4. هل يمكنني التسجيل بأكثر من حساب؟<br>
                    -<br>
                    يتيح البريد الإلكتروني التسجيل بحساب واحد ولا يُنصح باستخدام أكثر من حساب لشخص واحد؛ لأن هذا سيؤثر على كل الحسابات الخاصة بك.<br><br>
                    
                    5. أين تقع الشركات التي تعرضها منصة قدم ؟<br>
                    حتى الآن تركز المنصة على السوق السعودي، ولكن نخطط في المستقل لإطلاق المزيد من المميزات في أسواق منطقة الخليج العربي.<br><br>
                    
                    6. هل التسجيل في المنصة مدفوع؟<br>
                    -<br>
                    التسجيل في المنصة مجاني لكن توجد بعض الامتيازات التي سيُعلن عنها قريبا بمقابل
                    رمزي تضمن للمستخدم تجربة أفضل.<br>
                </p>
            </div>
            
            
            <div class="custom-style">
                <p class="text-balance text-center font-semibold text-md"> 
                    7. كيف أتواصل مع فريق الدعم ؟<br>
                    من خلال البريد الموضح في قسم اتصل بنا ، أو من خلال تعبئة نموذج الاتصال المثبت في المنصة.<br><br>
            
                    8. ماذا أفعل في حالة نسيان كلمة المرور؟<br>
                    -<br>
                    اختر خیار نسیان كلمة المرور من واجهة التسجيل واتبع الخطوات الموضحة وهي كتابة البريد الإلكتروني ومن ثم انتظار تأكيد إعادة تعيين رقم مرور جديد.<br><br>
            
                    9. ماذا لو أرفقت ملف بالخطأ بدلًا من إرفاق السيرة الذاتية؟<br>
                    عليك إخطار فريق الدعم في نفس اللحظة وانتظر التعليمات منهم إما بإعادة الإرفاق أو من خلال إرسال ملف السيرة الذاتية عبر البريد ليعملوا على تصحيح الخطأ.<br>
                    -<br><br>
            
                    10. هل يمكنني حذف حسابي من المنصة؟<br>
                    وجودك معنا يعني لنا الكثير؛ لكن بالطبع لك الحرية الكامل في حذف حسابك، لكن عمليات إرفاق سيرتك الذاتية للشركات ستكون في نطاق طرف ثالث والمنصة غير مسؤولة عن بياناتك الواردة في الملفات المرفقة.<br><br>
            
                    11. ما التخصصات التي تغطيها المنصة؟<br>
                    - تقدم المنصة بيانات شركات في كل مجالات سوق العمل تقريبًا لتوفر كل الفرص المتاحة للشباب الطموح.
                </p>
            </div>
            
        </div>
    </main>

    <div class="w-full h-fit relative -bottom-5 md:-bottom-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#166534" fill-opacity="1" d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        </svg>
    </div>
    <footer class="w-full min-h-fit bg-green-800 text-center py-8 text-white ">
        <div class="text-bold text-md md:text-xl flex flex-col gap-10
            justify-between items-center px-10">
            <div class="text-4xl font-bold text-yellow-500">
                <span> قدم </span>
            </div>
            <ul class="font-semibold text-xl">
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/how"> كيف نعمل </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/about">عن شركة قدم</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/dudues"> شركاؤنا </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/contact">اتصل بنا</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/whyus"> لماذا نحن </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/politics">الشروط والاحكام</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/commonQ">الاسئلة الشائعه</a>
                </li>
            </ul>
            <div class="text-xl font-bold">
                <span> جميع الحقوق محفوظه لشركة قدم للتوظيف<span class="text-yellow-600"> وظفني</span></span>
            </div>
        </div>
    </footer>
</body>
</html>
