<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> قدم للتوظيف </title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header class="mb-5">
        <div class="w-full min-h-[10vh] py-5 px-10 md:px-24 bg-black text-yellow-500 text-lg md:text-xl flex flex-col 
            md:flex-row justify-between items-center">
            <!-- logo -->
            <div>
                <h1 class="font-gadm text-4xl tracking-[5px]">
                    <a href="/">    قدم   </a>
                </h1>
            </div>
            <!-- nav -->
            <div class="text-sm md:text-xl my-5">
                <nav>
                    <ul class="flex gap-x-5 md:gap-x-10 font-bold text-center">
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">المدونة</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">الخدمات</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600">
                            <a href="">تواصل معنا</a>
                        </li>
                        <li class="transition duration-300 hover:text-blue-600 cursor-pointer">
                            <% if (username) { %>
                                <span> ! مرحبا <%= username %>  </span>
                                <li class="transition duration-300 hover:text-red-500 ">
                                    <a href="/logout"> تسجيل الخروج </a>
                                </li>
                            <% } else { %>
                                <a href="/login">سجل الان</a>
                            <% } %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>



    <main>
        <div class="text-center font-bold text-4xl text-black my-10">
            <span> السياسات و الاحكام </span>
        </div>
        <div class="px-10 flex flex-col gap-10 justify-center text-center">
            <p class="text-balance text-center font-semibold text-md">
                أولا: الشروط والأحكام
                حرصا من إدارة المنصة على توفير بيئة عمل آمنة للجميع؛ وضعنا مجموعة من الشروط والأحكام التي تحفظ حقوق كل الأطراف؛ وهذه الشروط خاضعة للتغيير والتعديل من وقت لآخر حسب مقتضيات الحاجة ؛ وتُعد قراءتك لهذه الشروط دليل موافقة على ما ورد فيها تعمل منصة قدم وفق الشروط والأحكام التالية:
                أولا: انتفاء المسؤولية القانونية
                تخلي إدارة منصة قدم مسؤوليتها القانونية في الحالات التالية:
                . محاولة التضليل من خلال توفير بيانات مغلوطة في السيرة الذاتية بغرض الخداع ويتحمل المستخدم المسؤولية القانونية جراء هذا العمل.
                • محاولة تقاضي رسوم من المستخدمين باسم منصة قدّم أو إنشاء صفحة وهمية باسم المنصة بغرض الكسب تعرض صاحبها للمساءلة.
                . المنصة مسؤولة فقط عن أي محتوى يُنشر عليها أو من خلال بريدها الرسمي وما دون ذلك لا يُعتد به.
                . أي مخالفة للشروط والأحكام وأي محاولة احتيال من قبل المستخدم تقع مسؤوليتها على
                المستخدم فقط.
                ثانيا: حقوق الملكية الفكرية
                . تمتلك إدارة المنصة حقوق الهوية التجارية بالكامل مثل الاسم والشعار والتصميمات وأي
            </p>
            <p class="text-balance text-center font-semibold text-md">
                ثانيا: حقوق الملكية الفكرية
                تمتلك إدارة المنصة حقوق الهوية التجارية بالكامل مثل الاسم والشعار والتصميمات وأي محاولة لإعادة الاستخدام تعرض صاحبها للمساءلة القانونية.
                أي محاولة للتربح باستخدام اسم المنصة من خلال تصميم منصة تحمل نفس الاسم أو صفحة على منصات التواصل بنفس الشعار والاسم يتحمل صاحبها المسؤولية.
                كل النصوص المنشورة على المنصة لا يسمح بإعادة استخدامها أو نسخها أو نشرها على أي منصة أخرى. . محاولة استغلال اسم قدّم في أي عمل مخالف للقانون أو الشروط المذكورة آنفا يُعد سببًا كافيًا لتعريض الفاعل إلى المساءلة القانونية.
            </p>
            <p class="text-balance text-center font-semibold text-md">

                ثالثا: الاستخدام
                منصة قدم منصة متخصصة في التوظيف ومهمتها إيصال الباحثين عن العمل بالشركات والمؤسسات التي تعرض وظائف شاغرة.
                . إدخال البيانات الشخصية بشكل صحيح مسؤولية المستخدم ويجب العناية بهذه المسألة لتسهيل التواصل المستقبلي.
                الموافقة على الشروط تعني التزام المستخدم بعدم إلحاق أي صورة من الضرر بالمنصة وفي
                حالة أي محاولة إلى ذلك يحق للمنصة اتخاذ الإجراءات القانونية المناسبة. . المنصة غير مسؤولة عن أي تواصل خارجي باسمها ووسائل التواصل الوحيدة المعتمدة هي المعلنة من قبل الإدارة في قسم اتصل بنا
                أي تواصل خارجي يتضمن إرسال بيانات شخصية يتحمل المستخدم عواقبه والمنصة غير مسؤولة في هذه الحالة.
                يُنصح بكتابة السيرة الذاتية بشكل مفصل ووفق المعايير المطلوبة من قبل الشركة المحددة لزيادة نسبة القبول
                . المنصة لا تقدم أي وعود بالتوظيف ولكنها تعمل بمنزلة الوسيط بين المستخدم الباحث عن العمل والشركة.
                . يفضل توفير بيانات اتصال فعّالة أولها بريد إلكتروني مستخدم لتسهيل التواصل وإرسال المستجدات للمستخدم.
            </p>
            <p class="text-balance text-center font-semibold text-md">

                رابعا: المحظورات في المنصة
                . لا تضم المنصة أي بيانات تخص الشركات التي تخالف الأنظمة المعمول بها في المملكة ولا تشجع على التعامل معها.
                . محاولة استخدام اسم المنصة لجمع المال من الباحثين عن العمل أو الشركات غير مسموح بها على الإطلاق. . محرك بحث المنصة مصمم ليساعد المستخدم على الوصول إلى مراده بشكل دقيق ويقدم مقترحات مناسب لذلك يُحظر البحث عن أي أنشطة مخالفة. لا يُنصح بمحاولة التواصل مع الشركات خارج المنصة ؛ لأننا نضمن لك إيصال سيرتك الذاتية مباشرة للموظف المختص.
                أي محاولة للدعاية السلبية ضد منصة قدّم بغرض التشويه تُعرض صاحبها للمساءلة القانونية وتمتلك المنصة حق الرد القانوني. . تسجيل بيانات وهمية أو إرفاق ملفات مضللة يعطل مهمة المنصة ويؤثر علينا لذلك يُرجى التعاون معنا لأداء مهمتنا.
            </p>
            <p class="text-balance text-center font-semibold text-md">

                خامسًا: شروط وأحكام عامة
                . تمتلك إدارة منصة قدّم الحقوق كاملة لرفض أو قبول طلبات التسجيل بناءً على المعايير التي تتبناها، ويحق لها إيقاف الحساب في حالة المخالفة.
                منصة قدم غير ملزمة بإشعار المستخدمين قبل إيقاف الحساب في حالة مخالفة الشروط
                والأحكام.
                . الهدف من الشروط الحفاظ على حقوق كل الأطراف والحفاظ على وقت القائمين على العمل؛ لذلك نشكركم على تعاونكم معنا. موافقتك للشروط السابقة هو إقرار منك وتعهد بالالتزام بكل ما ورد فيها وهي المرجع الأول في حالات النزاعات أو الخلافات.
            </p>
            <div class="text-center font-bold text-4xl text-black my-10">
                <span> سياسة الخصوصية </span>
            </div>
            <p class="text-balance text-center font-semibold text-md">

                سياسة الخصوصية
                حرصا من منصة قدم على أمن وسلامة بيانات المستخدمين؛ فقد صممت نظاما دقيقًا لحماية البيانات، ووضعت سياسة شاملة ومفصلة لحفظ حقوق جميع الأطراف المشاركة في المنصة؛ وهذه السياسات ملزمة لكل الأطراف؛ لأنها بمنزلة المنظم لكل مجريات العمل.
                أولا: بيانات التسجيل
                عند التسجيل في منصة قدّم فإنه يُطلب من المستخدم إدخال مجموعة من البيانات الشخصية
                لتوثيق الحساب وهي:
                . اسم المستخدم.
                . البريد الإلكتروني.
                . رقم الجوال والواتساب
                يجب كتابة البيانات السابقة بشكل صحيح؛ لضمان تسهيل عملية التواصل فيما بعد من قبل المنصة؛ ولضمان الوصول إلى الوظيفة المطلوبة في حالة القبول من طرف الشركة المتقدم إليها.
            </p>
            <p class="text-balance text-center font-semibold text-md">

                ثانيا: الخصوصية والأمان
                • حماية خصوصية المستخدم وتوفير بيئة آمنة للجميع من الأمور التي توليها منصة قدم أهمية
                كبيرة.
                حماية البيانات الشخصية مثل اسم المستخدم وكلمة المرور مسؤولية المستخدم ويجب عدم الإفصاح بها خارج المنصة.
                توفير بياناتك بشكل صحيح سيدعمنا في تقديم خدماتنا بشكل أفضل مما يعني تقديم حلول
                تناسبك.
                . تلتزم منصة قدم بكل القوانين التي تنظم الحفاظ على أمن وسلامة البيانات وتوفر بيئة آمنة لحفظ البيانات الشخصية.
                سيرتك الذاتية تدخل في إطار تقني لتصل إلى الشركة المحددة، ولا نشارك البيانات الواردة فيها مع أي طرف خارجي. . في حالة حذف البيانات للمخالفة فإن المنصة تحتفظ بحق الاحتفاظ ببيانات الحساب أو حذفها حسب الضرورة.
            </p>
            <p class="text-balance text-center font-semibold text-md">

                ثالثا: مشاركة البيانات وحدود الاستخدام
                تلتزم منصة قدّم بالحفاظ على بيانات المستخدمين ولا تشاركها لأي أطراف خارجية إلا في حالاتٍ محددة على النحو التالي:
                . في حالة الإجراءات القانونية التي تستلزم المنصة مشاركة بعض المعلومات الخاصة بإيعاز من جهات سيادية.
                . لا يُعد مشاركة البيانات الخاصة في إطار العمل القانوني من انتهاكات السرية لأن المنصة ملتزمة باتباع الأنظمة المعترف بها في المملكة. . في حالة مخالفة الشروط السابقة أو السياسات المذكورة يحق للمنصة استخدام البيانات الواردة لديها لاتخاذ الإجراء المناسب. السيرة الذاتية تُعامل معاملة البيانات الشخصية إلا أن المستخدم يوافق بإرسالها إلى أطراف ثالثة وهي الشركات المحددة.
                تحتفظ المنصة بحق إعادة استخدام بعض البيانات مثل أرقام التواصل أو البريد في النشرات الترويجية والأغراض التسويقية . بعض البيانات توظفها المنصة لضمان الوصول إلى النموذج المثالي من تجربة المستخدم المرضية وتطوير آلية العمل.
            </p>
        </div>
    </main>

    <div class="w-full h-fit relative -bottom-5 md:-bottom-10">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#166534" fill-opacity="1" d="M0,160L120,144C240,128,480,96,720,96C960,96,1200,128,1320,144L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
        </svg>
    </div>
    <footer class="w-full min-h-fit bg-green-800 text-center py-8 text-white ">
        <div class="text-bold text-md md:text-xl flex flex-col gap-10
            justify-between items-center px-10">
            <div class="text-4xl font-bold text-yellow-500">
                <span> قدم </span>
            </div>
            <ul class="font-semibold text-xl">
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/how"> كيف نعمل </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/about">عن شركة قدم</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/dudues"> شركاؤنا </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/contact">اتصل بنا</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/whyus"> لماذا نحن </a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/politics">الشروط والاحكام</a>
                </li>
                <li class="hover:animate-scale duration-300 underline">
                    <a href="/commonQ">الاسئلة الشائعه</a>
                </li>
            </ul>
            <div class="text-xl font-bold">
                <span> جميع الحقوق محفوظه لشركة قدم للتوظيف<span class="text-yellow-600"> وظفني</span></span>
            </div>
        </div>
    </footer>
</body>
</html>